@{
    ViewData["Title"] = "Home Page";
}


<h1>@Model.Name:</h1>

<ol>
    <ul>
        <li>ID: @Model.RemedyId</li>
        <li>Name: @Model.Name</li>
        <li>Details: @Model.Details</li>
        <li>Ailment: @Model.Ailment</li>
        <li>Category: @Model.Category</li>
        <li>Ingredients: @Model.Ingredients</li>
    </ul>
    <br>

</ol>